@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";

@import "fonts";

body {
  padding-left: $nav-left-width;
}

strong, b {
  font-family: $font-family-raleway-extrabold;
}

h1 {
  font: 56px $font-family-raleway-extrabold;
}




@import "nav-left";

.container-fluid {
  max-width: 1140px;
}

.section {
  padding: 45px 100px 0 50px;
  &-full-height {
    height: 100vh;
  }
  &-first {
    position: relative;
    color: #fff;
    background: url(../img/mountain.jpg) center center no-repeat;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(21, 24, 30, .7);
    }
    .section-content {
      position: relative;
      z-index: 10;
    }
  }
}

@import 'footer';
